########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

{{ salt['toml_lang.dumps'](telegraf) }}
