########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

{{ salt['slsutil.serialize']('toml', telegraf) }}
